* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #ffda77, #ffa45b);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.dashboard {
  display: flex;
  position: fixed;
  top: 8vh;
  align-items: center;
  gap: 40px;
}

.player-score {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 3px dashed;
}

.game-body {
  height: 60vh;
  width: 60vw;
  border-radius: 14px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  background: #000;
}

.bar {
  width: 20px;
  height: 120px;
  border-radius: 15px;
  position: fixed;
  background: #000;
}

.left-bar {
  top: calc(20vh + 55px);
  left: calc(20vw + 20px);
}

.right-bar {
  top: calc(60vh + 20vh - 120px - 55px);
  right: calc(20vw + 20px);
}
